.slot-machine {
  margin-top: 0;
  font-size: 0;  /* to remove spaces between the images */
  /* Comment the line below to see all images */
  overflow: hidden;
  height: 100%;
}

.images {
  /*border: 1px solid red;*/
  transition-property: margin-top;
  transition-duration: 1.2s;
  transition-timing-function: linear;
}
